<div class="wrapper-footer">
    <footer class="footer">
        <div class="container">
            <div class="left">
                <img src="{{ site.baseurl }}/images/othon.png" class="circular">
            </div>
            <div class='right'>
                <a href='{{ site.baseurl }}/about' target="_blank"><h1>Othon Alberto</h1></a>
                <p>Desenvolvedor web que gosta de escrever.</p>
            </div>
            {% include svg-icons.html %}
        </div>
    </footer>
  </div>
</div>
